<nav class="nav-header">
  <a href="/" class="nav-link-logo">MY LIBRARY</a>
  <ul class="nav-link-items">
    <li><a href="/authors" class="nav-link-item">Authors</a></li>
    <li><a href="/authors/new" class="nav-link-item">Add Author</a></li>
    <li><a href="/books" class="nav-link-item">Books</a></li>
    <li><a href="/books/new" class="nav-link-item">Add Book</a></li>
  </ul>
</nav>