<h1 class="page-header">Update Authors</h1>

<form method="POST" action="/authors/<%=author.id%>?_method=PUT">
    <%-include("../partial/form-input.ejs")%>
    <div class="form-btn-end btn-row">
        <a class="btn btn-primary" href="/authors/<%=author.id%>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>