<h1>SEARCH ALL AUTHORS</h1>
<form action="/authors" method="GET">
 <label for="name">Name</label>
 <input type="text" name="name" value="<%=searchOptions.name%>"/>
<button type="submit">search</button>
</form>
<br/>

<% authors.forEach((author)=>{%>
    <div><%=author.name%></div>
<%})%>